.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .slideImg {
    width: 500px;
    height: 600px;
    border-radius: 10px;
  }
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .right-arrow {
    color: #806044;
    font-size: 3rem;
    margin-left: 30px;
    cursor: pointer;
  }
  .left-arrow {
    font-size: 3rem;
    margin-right: 30px;
    cursor: pointer;
  }
}
@media (max-width: 968px) {
  .slider {
    height: 50vh;
    .slideImg {
      width: 500px;
      height: 300px;
    }
  }
}
@media (max-height: 568px) {
  .slider {
    height: 130vh;
    .slideImg {
      width: 300px;
      height: 400px;
    }
  }
}
