.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .slideImg {
    width: 500px;
    height: 600px;
    border-radius: 10px;
  }
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .right-arrow {
    font-size: 3rem;
    margin-left: 30px;
  }
  .left-arrow {
    font-size: 3rem;
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .slideImg {
    img {
      width: 200px;
      height: 300px;
    }
  }
}
